<!DOCTYPE html>

<html>
    <head>
        <title>Vehicle Maintenance</title>
        <link rel="stylesheet" href="/static/css/normalize.css">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <script type="text/javascript">
             function dynInput(cbox) {
              if (cbox.checked) {
                var input = document.createElement("input");
                input.type = "text";
                var div = document.createElement("div");
                div.id = cbox.name;
                div.innerHTML = "Please enter details about the issue for " + cbox.name;
                div.appendChild(input);
                document.getElementById("insertinputs").appendChild(div);
              } else {
                document.getElementById(cbox.name).remove();
              }
            }
        </script>
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand"><img style="max-width:123px" src="/static/images/RegencyLogoWhite.png" /></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/fleet">Fleet List</a></li>
                    <li><a href="/drivers">Driver List</a></li>
                    <li><a href="/maintenance">Maintenance</a></li>
                    <li><a href="/records">Maintenance Records</a></li>
                    <li><a href="/logout">Log Out</a></li>
                </ul>
            </div>
        </div>
    </div>
        <div class="container body-content">
            <hr />
            <hr />
        {% block content %}
        {% endblock %}
        </div>

    </body>
</html>
