<!DOCTYPE html>

<html>
    <head>
        <title>Vehicle Maintenance</title>
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/styles.css">
        <script type="text/javascript">
             function dynInput(cbox) {
              if (cbox.checked) {
                var input = document.createElement("input");
                input.type = "text";
                var div = document.createElement("div");
                div.id = cbox.name;
                div.innerHTML = "Please enter details about the issue for " + cbox.name;
                div.appendChild(input);
                document.getElementById("insertinputs").appendChild(div);
              } else {
                document.getElementById(cbox.name).remove();
              }
            }
        </script>
    </head>
    <body>
        <ul>
          <a href="/">Home</a>
          <a href="/fleet">Fleet List</a>
          <a href="/maintenance">Maintenance</a>
          <a href="/inspection">New Inspection</a>
          <a href="/maintneeded">Maintenance Needed</a>
          <a href="/drivers">Driver List</a>
          <a href="/records">Maintenance Records</a>
          <a href="/login">Login</a>
          <a href="/logout">Log Out</a>
        </ul>

        {% block content %}
        {% endblock %}
    </body>
</html>
