{% extends 'base.html' %}

{% block content %}



<h1>Add New Driver</h1>
<form action="/drivers" method="post">
    <label>Driver Name:</label>
    <input type="text" name="name" /><br />
    <label>Employee ID:</label>
    <input type="text" name="employeeid" /><br />
    <input type="submit" />
</form><br />

<table class="table">
    <tr>
        <th>Name</th>
        <th>Employee ID</th>
    </tr>
    {% for driver in drivers %}
    <tr>
        <td>{{ driver.name }}</td>
        <td>{{driver.employeeid}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
