{% extends 'base.html' %}

{% block content %}

<h1>Add New Driver</h1>
<form action="/drivers" method="post">
    <label>Driver Name:</label>
    <input type="text" name="name" value="{{new_name}}"/>{% if errors %}{{errors.name_error}}{% endif %}<br />
    <label>Employee ID:</label>
    <input type="text" name="employeeid" value="{{new_employeeid}}"/>{% if errors %}{{errors.employeeid_error}}{% endif %}<br />
    <input type="submit" />
</form><br />

<table class="table">
    <tr>
        <th>Name</th>
        <th>Employee ID</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    {% for driver in drivers %}
    <tr>
        <td>{{ driver.name }}</td>
        <td>{{driver.employeeid}}</td>
        <td>
          <form action="/driveredit" method="get">
            <input type="hidden" name="edit" value="{{driver.key().id()}}" />
              <input type="submit" value="Edit Driver" />
          </form>
        </td>
        <td>
          <form action="/driverdelete" method="post">
            <input type="hidden" name="delete" value="{{driver.key().id()}}" />
            <input type="submit" value="Delete Driver" />
          </form>
      </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
