{% extends "base.html" %}

{% block content %}
<ul>
{% for vehicle in vehicles %}
  <li>
      {{vehicle.year}} {{vehicle.make}}
  </li>
{% endfor %}
</ul>
{% if errors %}
<span class="error">{{errors.unit_error}}{{errors.vin_error}}, {{errors.make_error}}, {{errors.model_error}}, {{errors.year_error}}</span>
{% endif %}
<br />Add a Vehicle:
<form action="/fleet" method="post">
    <label>
        Make:
        <input type="text" name="new-vehicle-make" value="{{make}}"/>
        Model:
        <input type="text" name="new-vehicle-model" value="{{model}}"/><br>
        Year:
        <input type="text" name="new-vehicle-year" value="{{year}}"/>
        Odometer:
        <input type="text" name="new-vehicle-odometer" value="{{odometer}}"/><br />
        VIN:
        <input type="text" name="new-vehicle-vin" value="{{vin}}"/>
        Unit Number:
        <input type="number" name="new-vehicle-unit" min="1" max="20" />
        Date of Last Service:
        <input type="date" name="new-vehicle-service" value="{{service}}"/><br />
        <input type="submit" />
    </label>
</form>

{% endblock %}
