{% extends 'base.html' %}

{% block content %}
NEW INSPECTION
<form action="/inspection" method="post">
    <label>
        Make:
        <input type="text" name="make" value="{{vehicle.make}}" readonly>
        Model:
        <input type="text" name="model" value="{{vehicle.model}}" readonly/><br>
        Year:
        <input type="text" name="year" value="{{vehicle.year}}" readonly>
        Odometer:
        <input type="text" name="odometer" value="{{vehicle.odometer}}" readonly/><br />
        Vehicle ID:
        <input type="text" name="id" value="{{vehicle.unit}}" readonly/>
        Date:
        <input type="datetime" name="date" value={{date}} readonly/>
        <h3><strong>General</strong></h3>
            <strong>Cab/Doors/Windows/Other</strong>
            <input type="checkbox" name="general" /><br />
        <h3><strong>Engine Compartment</strong></h3>
            <strong>Oil Level</strong>
            <input type="checkbox" name="oil"  /><br />
            <strong>Coolant Level</strong>
            <input type="checkbox" name="coolant"  /><br />
            <strong>Belts</strong>
            <input type="checkbox" name="belts"  /><br />
            <strong>Battery</strong>
            <input type="checkbox" name="battery"  /><br />
            <strong>Other</strong>
            <input type="checkbox" name="engine"  /><br />
        <h3><strong>In-Cab</strong></h3>
            <strong>Gauges/Warning Lights</strong>
            <input type="checkbox" name="gauges"  /><br />
            <strong>Windshield Wipers</strong>
            <input type="checkbox" name="wipers"  /><br />
            <strong>Horn</strong>
            <input type="checkbox" name="horn"  /><br />
            <strong>Heat/AC/Defrost</strong>
            <input type="checkbox" name="heat"  /><br />
            <strong>Mirrors</strong>
            <input type="checkbox" name="mirrors"  /><br />
            <strong>Steering</strong>
            <input type="checkbox" name="steering"  /><br />
            <strong>Brakes</strong>
            <input type="checkbox" name="brakes"  /><br />
            <strong>Parking Brake</strong>
            <input type="checkbox" name="ebrake"  /><br />
            <strong>Seat Belts</strong>
            <input type="checkbox" name="seatbelts"  /><br />
            <strong>Safety Equipment</strong>
            <input type="checkbox" name="safety"  /><br />
        <h3><strong>Exterior</strong></h3>
            <strong>Lights</strong>
            <input type="checkbox" name="lights"  /><br />
            <strong>Reflectors</strong>
            <input type="checkbox" name="reflectors"  /><br />
            <strong>Suspension</strong>
            <input type="checkbox" name="suspension"  /><br />
            <strong>Tires</strong>
            <input type="checkbox" name="tires"  /><br />
            <strong>Wheels/Rims/Lugs</strong>
            <input type="checkbox" name="wheels"  /><br />
            <strong>Exhaust</strong>
            <input type="checkbox" name="exhaust"  /><br />
            <strong>Brakes</strong>
            <input type="checkbox" name="exbrakes"  /><br />
        <h3 style="display:inline"><strong>Maintenance Action Needed?</strong></h3>
            <input type="checkbox" name="action"  /><br />

        <h3><strong>Please enter your Employee ID here. By doing so you acknowledge
            that this inspection is accurate and has been filled out by you before
            operating the vehicle.</strong></h3>
        <input type="password" name="signature" />
        <input type="submit" />
    </label>

</form>
{% endblock %}
