{% extends 'base.html' %}

{% block content %}
{% if vehicles != null %}
  {% for vehicle in vehicles %}
    <ul>
     <li>
       <form action="/maintenance" method="post">
         ({{vehicle.unit}}) {{vehicle.year}} {{vehicle.model}}
         <input type="hidden" name="maint_vehicle" value="{{ vehicle.key().id() }}" />
         <input type="submit" value="Maintenance Fulfilled" />
       </form>
     </li>
   </ul>
  {% endfor %}
{% else %}
  <h2>No vehicles currently require maintenance.</h2>

{% endif %}
{% endblock %}
